/* Jumbotron */



.section-left {
    background-color: pink;
}

.top {
    background-color: brown;
    height: 10vh;
    
    
}
.bottom {
    background-color: magenta;
    height: 10vh;
    
}

.bottom-left {
    background-color: plum;
    height: 13vh;
}
.bottom-right {
    background-color: aqua;
}

